body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background-image: linear-gradient(90deg, #2300ff, #0023d0, #00259d, #001f69, #001537);
}

button {
	cursor: pointer;
}
